body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    width: 590px; /* Fixed width */
    height: 250px; /* Fixed height */
    overflow: hidden;
    border: 0px solid white;
    position: relative;
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}